---
import { CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { sortPosts } from '../../utilities';
import { BLOG } from '../../constants';
import BlogList from '../../components/BlogList.astro';
import Hero from '../../components/Hero.astro';
import { Page } from 'astro';

export type Props = {
  page: Page<CollectionEntry<'blog'>>;
};

export async function getStaticPaths({ paginate }) {
  const blogEntries = await getCollection('blog', (post): post is CollectionEntry<"blog"> => !post.data.draft || process.env.NODE_ENV === 'development');
  let posts = sortPosts(blogEntries);

  return paginate(posts, { pageSize: 15 });
}

const { page } = Astro.props;
---

<BaseLayout pageTitle={`${BLOG.title} | Page ${page.currentPage}`} title={`${BLOG.title} (Page ${page.currentPage})`} siteName={BLOG.title} description={BLOG.tagline}>
  <Hero header={BLOG.title}>
    <h2>by Brian Douglass</h2>
    <h3>{BLOG.tagline}</h3>
  </Hero>

  <BlogList
    posts={page.data}
    nextUrl={page.url.next}
    prevUrl={page.url.prev}
  />
</BaseLayout>
