---
import { format } from 'date-fns';

import BaseLayout from '../layouts/BaseLayout.astro';
import resume from '../data/resume.json';
import Hero from '../components/Hero.astro';
import TextSection from '../components/TextSection.astro';
import Features from '../components/Features.astro';
---

<BaseLayout pageTitle="Brian Douglass | Senior Software Engineer" title="Brian Douglass, Senior Software Engineer" description="Hi, I'm Brian Douglass a Senior Software Engineer with a passion for Open Source.">
  <Hero header="Hi, I'm Brian Douglass">
    {resume.work[0].position} @ <a href={resume.work[0].url} rel="noopener noreferrer">{resume.work[0].name}</a>
  </Hero>

  <TextSection header="About Me">
    I'm Brian Douglass a full stack engineer with over a decade of experience building software. I have a keen interest
    in solving interesting problem. And I find it especially rewarding when the solutions help improve peoples lives.
    I specialize in JavaScript/TypeScript, Node.js and building APIs. But I also have extensive experience with Python,
    PHP, React, Vue.js, C++, and Qt, just to name a few. I'm always looking to improve myself and the people around me.
  </TextSection>

  <Features
    items={[
      {
        title: '<a href="/resume" class="underline">Full Stack Engineer</a>',
        description:
          "I've worked on a variety of different projects, spanning the backend and frontend. And I've developed in a variety of different languages."
      },
      {
        title: '<a href="https://clickable-ut.dev/" class="underline">Clickable Lead Developer</a>',
        description: 'Command line tool for easy Ubuntu Touch app development. Built with Python and uses Docker.'
      },
    ]}
    items2={[
      {
        title: '<a href="https://open-store.io/" class="underline">OpenStore Lead Developer</a>',
        description:
          'The official app store for Ubuntu Touch. Built with a Node.js, Express, and Mongo API, a Vue.js frontend, and a QML/C++ app.',
      },
      {
        title: '<a href="https://gitlab.com/bhdouglass" class="underline">Open Source Engineer</a>',
        description: 'I live and breath Open Source, find my projects on <a href="https://gitlab.com/bhdouglass">GitLab</a>.'
      }
    ]}
  />

  <Features
    title='<a href="/resume" class="underline">Work History</a>'
    altColor={true}
    items={resume.work.filter((job) => !job.position.includes("Freelance")).map((job) => {
      return {
        title: `${job.position} @ <a href=${job.url} class="underline">${job.name}</a>`,
        description: `${format(new Date(job.startDate), 'MMM yyyy')} → ${job.endDate ? format(new Date(job.endDate), 'MMM yyyy') : 'Present'}<br/>${job.summary}`,
      };
    })}
  />

  <Features
    title='Projects'
    items={[
      { title: '<a href="/blog/" class="underline">Blog</a>' },
      { title: '<a href="https://open-store.io/" class="underline">OpenStore</a>' },
      { title: '<a href="https://clickable-ut.dev/" class="underline">Clickable</a>' },
    ]}
    items2={[
      { title: '<a href="https://gitlab.com/bhdouglass" class="underline">Open Source Projects on GitLab</a>' },
      { title: '<a href="https://open-store.io/?sort=name&search=author%3ABrian%20Douglass" class="underline">Ubuntu Touch Apps</a>' },
      { title: '<a href="https://www.npmjs.com/~bhdouglass" class="underline">NPM Modules</a>' },
    ]}
  />

  <a id="contact"></a>
  <TextSection header="Contact Me">
    <script type="text/javascript" src="https://form.jotform.com/jsform/220156014395146"></script>
  </TextSection>
</BaseLayout>
