---
import format from 'date-fns/format';
import { tagTitleCase } from '../utilities';

const { title, date, blogTitle, blogUrl, tags, draft } = Astro.props;

const pathParts = Astro.url.pathname.split('/');

---

<article>
  <h1 class="mb-2">{title} {draft && '(DRAFT)'}</h1>
  <p class="mb-4">
    Published {format(new Date(date), 'MMMM d, yyyy')} in <a href={blogUrl}>{blogTitle}</a> by <a href="/">Brian Douglass</a>
    <br/>
    {
      tags && tags.length > 0 && (
        <span>
          Filed under {tags.map((tag, index) => (
            <span class="tag">
              <a href={`/${pathParts[1]}/${pathParts[2]}/${tag}`}>{tagTitleCase(tag)}</a>{((index + 1) < tags.length) ? ',' : ''}
            </span>
          ))}
        </span>
      )
    }
  </p>
  <slot />
</article>
