---
import BaseLayout from './BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
import { categoriesToTags } from '../utilities';
import { GARDEN_BLOG } from '../constants';

import '../styles/blog.css';

const { content } = Astro.props;

const hide = content.draft && process.env.NODE_ENV !== 'development';
---

<BaseLayout title={`${content.title} | ${GARDEN_BLOG.title} by Brian Douglass`} feedUrl="/feeds/garden.xml" siteName={GARDEN_BLOG.title}>
  {hide ? (<h1 class="text-center mt-2">There isn't anything here yet!</h1>) : (
    <BlogPost title={content.title} date={content.date} blogUrl="/blog/garden" blogTitle={GARDEN_BLOG.title} tags={categoriesToTags(content.categories)} draft={content.draft}>
      <slot />
    </BlogPost>
  )}
</BaseLayout>
